[submodule "max_port/source/min-api"]
	path = max_port/source/min-api
	url = https://github.com/Cycling74/min-api/
[submodule "max_port/source/min-lib"]
	path = max_port/source/min-lib
	url = https://github.com/Cycling74/min-lib
