BasedOnStyle: WebKit
SortIncludes: false
ColumnLimit: 140
UseTab: ForContinuationAndIndentation
TabWidth: 4

BreakBeforeBraces: Attach

Cpp11BracedListStyle: true
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: true
SpaceAfterTemplateKeyword: false
ConstructorInitializerIndentWidth: 0

NamespaceIndentation: All
CompactNamespaces: true
FixNamespaceComments: true 

SpacesBeforeTrailingComments: 4

BreakBeforeBraces: Custom
BraceWrapping:   
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  AfterExternBlock: false
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Right
AlignTrailingComments: true

IndentCaseLabels: true
MaxEmptyLinesToKeep: 2
