*{
  font-family: Arial;
  color: #444;
}

.wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.demo {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 20px;;
  margin-top: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 2fr;
  justify-content: center;
  align-items: center;
}

.title {
  grid-column: 1/5;
}

.source_audio {
  grid-column: 2/5;
}
